<%= link_to experience_path(experience), class: 'text-decoration-none color-w' do %>
  <div class="experience-item d-flex gap-3">
    <div class="timeline flex-fill">
      <div class="nav-link" href="#"><%= experience.start_date %> - <%= experience.end_date %></div>
    </div>
    <div class="experience-card-text">
      <h5><%= experience.role %>, <%= experience.name %><i class="fas fa-external-link-alt"></i></h5>
      <p><%= experience.short_description %></p>
      <% experience.skills.first(5).each do |skill| %>
        <span class="badge my-1"><%= skill.name %></span>
      <% end %>
      <span><%= experience.skills.count > 5 ? '....' : '' %></span>
    </div>
  </div>
<% end %>
