<div class="left-column-content">
  <div>
    <h1 class="main-heading">Manuel Ferrer</h1>
    <h2 class="sub-heading">Full-Stack Developer</h2>
    <p>I build robust, scalable web applications with Ruby on Rails. Passionate about clean code and exceptional user experiences.</p>
  </div>

  <nav class="nav flex-column">
    <%= link_to '#about', class: 'nav-link link-scrollable' do %>
      About
    <% end %>
    <%= link_to '#experience', class: 'nav-link link-scrollable' do %>
      Experience
    <% end %>
    <%= link_to '#projects', class: 'nav-link link-scrollable' do %>
      Projects
    <% end %>
    <%= link_to questions_path, data: {turbo_frame: 'modal'}, class: 'nav-link' do %>
      Know About Me
    <% end %>
    <%= link_to new_contact_path, data: {turbo_frame: 'modal'}, class: 'nav-link' do %>
      Contact Me
    <% end %>
  </nav>
</div>
