<div class="d-flex flex-column h-100 min-vh-100">
  <div class="div">
    <h1 class="main-heading">Manuel Ferrer</h1>
    <h2 class="sub-heading">Full-Stack Developer specializing in Ruby on Rails</h2>
    <p>I create robust, scalable, and user-centric web applications. Passionate about solving complex challenges with clean, efficient code.</p>
  </div>

  <nav class="nav flex-column mt-5">
    <div class="scrolleables">
      <%= link_to 'ABOUT','#about' , class: 'nav-link active link-scrollable' %>
      <%= link_to 'EXPERIENCE', '#experience', class: 'nav-link link-scrollable' %>
      <%= link_to 'PROJECTS', '#projects' , class: 'nav-link link-scrollable' %>
    </div>
    <div class="nav-link py-0"><%= link_to 'KNOW ABOUT ME', questions_path, data: {turbo_frame: 'modal'}, class:'nav-link' %></div>
    <div class="nav-link py-0"><%= link_to 'CONTACT ME', new_contact_path,data: {turbo_frame: 'modal'}, class:'nav-link' %></div>
  </nav>
  <div class="d-flex align-items-end h-100">
    <div class="social-icons mt-auto">
      <%= link_to "https://github.com/puzzle404", target: "_blank" do %>
        <i class="fab fa-github"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/ferrer-manuel/", target: "_blank" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
      <%= link_to "https://x.com/cmanuferrer" do %>
        <i class="fa-brands fa-twitter"></i>
      <% end %>
      <%= link_to "https://www.instagram.com/cmanuferrer/", target: "_blank" do %>
        <i class="fab fa-instagram"></i>
      <% end %>
      <%= link_to "https://www.facebook.com/cmanuferrer" do %>
        <i class="fa-brands fa-facebook"></i>
      <% end %>
    </div>
  </div>
</div>
