<%= simple_form_for(project, data: {controller: 'select2'}) do |f| %>
  <!-- [...] -->
  <%= f.input :name, label: 'Name' %>
  <%= f.input :photos, as: :file, label: 'Photos', input_html: { multiple: true  } %>
  <% if params[:action] == 'edit' %>
    <div class="d-flex gap-3">
      <% unless project.photos.attached? %>
        <% project.photos.each do |photo| %>
          <div id="photo-card-<%= photo.id %>" class="photo-card">
            <%= cl_image_tag photo.key, class: 'img-fluid aspect-ratio-item' %>
            <%= link_to "×", experience_photo_path(project.id, photo.id), data: { turbo_method: :delete }, class: 'delete-photo' %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= f.input :skill_ids, label: 'Skills', collection: Skill.all, as: :select, input_html: { multiple: true, id: 'tom-select-it' } %>
  <%= f.input :description, label: 'Description' %>
  <%= f.input :short_description, label: 'Short description' %>
  <div class="d-flex flex-wrap">
    <%= f.input :start_date, as: :date, label: 'Initial Date', html5: true, wrapper_html: {class: 'flex-fill'} %>
    <%= f.input :end_date, as: :date, label: 'Final date', html5: true, wrapper_html: {class: 'flex-fill'} %>
  </div>
  <%= f.submit "Save" %>
  <!-- [...] -->
<% end %>
